:host {
    --emotion-pictures-corporate-padding: var(--emotion-pictures-corporate-padding-custom, 0);
    --emotion-pictures-corporate-padding-mobile: var(--emotion-pictures-corporate-padding-mobile-custom, 0);
    --emotion-pictures-corporate-text-top:0;
}