<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion_test_1.jpg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<div class="spacer"></div>
<div>
<o-wrapper namespace="wrapper-teaser-">
<m-teaser namespace=teaser-plain- width=33% href="http://www.jowa.ch">
    <figure>
        <figcaption>
            <div>
                <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                <h2 class="line-height-one-em">Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige
                    Zukunft.</h2>
                <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
            </div>
        </figcaption>
    </figure>
</m-teaser>
<m-teaser namespace=teaser-overlay- href="http://www.jowa.ch">
    <figure>
        <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/gastro/teaser_geschnetzeltes.jpg"
            alt="randomized image"></a-picture>
        <figcaption>
            <h2 class=bg-color>Unsere Angebote & Services</h2>
            <h2 class=bg-color><a-arrow move direction=right></a-arrow></h2>
        </figcaption>
    </figure>
</m-teaser>
</o-wrapper>
</div>