<a-emotion-pictures namespace="emotion-pictures-with-logo-" height-mobile="15em">
    <a href="#">
        <a-picture picture-load defaultSource="../../../../img/emotion-pictures/emotion_test_1.jpg" alt="randomized image">
        </a-picture>
    </a>
</a-emotion-pictures>
<div class="spacer"></div>

<o-wrapper namespace="wrapper-teaser-">
<m-teaser namespace=teaser-plain- width=33% href="http://www.jowa.ch">
    <figure>
        <figcaption>
            <div>
                <p class="bold">Nachhaltigkeit in der Gemeinschaftsgastronomie</p>
                <h2 class="line-height-one-em">Weil es nur eine Erde gibt: Unser Engagement für eine nachhaltige
                    Zukunft.</h2>
                <a-arrow move="" hover-on-parent-shadow-root-host="" direction="right"></a-arrow>
            </div>
        </figcaption>
    </figure>
</m-teaser>
<m-teaser namespace=teaser-overlay- href="http://www.jowa.ch">
    <figure>
        <a-picture namespace="picture-teaser-" picture-load defaultSource="../../../../img/gastro/teaser_geschnetzeltes.jpg"
            alt="randomized image"></a-picture>
        <figcaption>
            <h2 class=bg-color>Unsere Angebote & Services</h2>
            <h2 class=bg-color><a-arrow move direction=right></a-arrow></h2>
        </figcaption>
    </figure>
</m-teaser>
</o-wrapper>
<div>
    <h1 class="title-border font-family-secondary">Die Welt der Migros Gastronomie</h1>
    <h2 class="title-border font-family-secondary">Die Welt der Migros Gastronomie</h2>
    <h3 class="title-border font-family-secondary">Die Welt der Migros Gastronomie</h3>
    <h4 class="title-border font-family-secondary">Die Welt der Migros Gastronomie</h4>
    <h5 class="title-border font-family-secondary">Die Welt der Migros Gastronomie</h5>
    <h6 class="title-border font-family-secondary">Die Welt der Migros Gastronomie</h6>
    <hr>
    <h1 class="title-border">Die Welt der Migros Gastronomie</h1>
    <h2 class="title-border">Die Welt der Migros Gastronomie</h2>
    <h3 class="title-border">Die Welt der Migros Gastronomie</h3>
    <h4 class="title-border">Die Welt der Migros Gastronomie</h4>
    <h5 class="title-border">Die Welt der Migros Gastronomie</h5>
    <h6 class="title-border">Die Welt der Migros Gastronomie</h6>
    <p>Beim Vorzeigen der Senioren-Vorteilskarte profitieren Sie das ganze Jahr 2025 von zahlreichen Partnerangeboten, welche
    unten aufgeführt sind. Zudem erhalten Sie mit dem abonnierten Senioren-Newsletter monatlich eine spannende Kolumne mit
    Tipps und weitere attraktive Partnerangebote und Vergünstigungen.</p>
    <p>Das Einkaufscenter ist mit allen Verkehrsmitteln gut erreichbar – mit einer Bushaltestelle direkt vor dem Center
        und in einer Minute ab der Autobahnausfahrt. Parkplätze stehen zur Verfügung.</p>
    <p>Melden Sie sich also gleich für beides an – für die Senioren-Vorteilskarte und den Senioren-Newsletter.</p>
    <a href="bahh">Test Link</a>
    <a-button>Hello</a-button>
    <a-button disabled>Hello</a-button>
    <a-button namespace="button-primary-">Hello</a-button>
    <a-button namespace="button-primary-" disabled>Hello</a-button>
    <a-button namespace="button-secondary-">Hello</a-button>
    <a-button namespace="button-secondary-" disabled>Hello</a-button>
    <hr />
</div>