/**
  * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
  * NOTE: Within the component don't use any name spacing eg. component header don't use --header-default-color just use --color the namespace can be added by the Shadow as an html attribute
  * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
  * - if a component holds other components you should share the attribute namespace with its children
  */

/* Font Tracking */
@import url("https://cdn.fonts.net/t/1.css?apiType=css&projectid=a865fdb1-1082-495a-a364-65ccfde460a2");

@font-face {
  font-family: "HelveticaNowDisplayBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowDisplayW05-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplayMedium";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowDisplayMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowDisplayXBoldItalic";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowDisplayW01-XBdIt.woff2") format("woff2");
  font-style: normal;
  font-weight: 750;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowTextRegular";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNowTextBold";
  src: url("https://cdn.migros.ch/ch.migros/static/fonts/helvetica-now/HelveticaNowTextW05-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}



:root {

  /* Main Colors */
  --color: var(--m-black);
  --color-hover: var(--m-orange-600);
  --underline-color-hover-custom: var(--color-hover);
  --underline-color-custom: var(--color);
  --underline-after-height:1px;
  /* --color-active: #A21619; */
  --color-disabled: #864142;
  --color-secondary: var(--m-orange-600);
  --color-tertiary: var(--m-red-600);
  --color-quarternary: #eceae6;

  /* Fonts */
  --font-family: HelveticaNowTextRegular, Helvetica, Arial, sans-serif;
  --font-family-bold: HelveticaNowTextBold, Helvetica, Arial, sans-serif;
  --font-size-mobile: min(15px, 5vw);
  --p-line-height: 1.75rem;

  /* Content Links */
  --a-color: var(--color-secondary);
  --a-color-hover: var(--m-orange-600);
  --a-text-decoration-hover: underline;
  --a-text-decoration: none;
  --a-text-underline-offset: 0.2em;
  --a-transition:0.5;

  /* Global */
  --content-with-global: 70%;
  --bg-color: var(--m-white);
  --background-color: var(--m-white);
  --any-content-width: var(--content-with-global);
  --bull-li-before-border-width: 0;
  --bull-li-before-height: 0.3125em;
  --bull-li-before-top: 0.625em;
  --bull-li-before-width: 0.3125em;

  /* Headings */
  /* --h1-font-family-secondary: HelveticaNowDisplayBold, Helvetica, Arial, sans-serif; */
  --h6-font-size: 1em;

  /* Buttons */
  --button-default-background-color-hover: var(--color-hover);

  /* Emotion Pictures with button */
  --emotion-pictures-with-button-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-button-bg-color-custom: var(--m-white);
  --emotion-pictures-with-button-h2-text-transform-custom: none;
  --emotion-pictures-with-button-subline-display-mobile: none;

  /* Emotion Pictures with logo */
  --emotion-pictures-with-logo-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-logo-bg-color-custom: var(--m-white);

  /* Emotion Pictures with title */
  --emotion-pictures-with-title-a-text-decoration: none;
  --emotion-pictures-with-title-bg-background-color-custom: var(--color-secondary);
  --emotion-pictures-with-title-bg-color-custom: var(--m-white);
  --emotion-pictures-with-title-h2-text-transform-custom: none;
  --emotion-pictures-with-title-subline-display-mobile-custom: none;

  /* Emotion Picture Corporate */
  --emotion-pictures-corporate-padding-custom: 0 1.15rem;
  --emotion-pictures-corporate-padding-mobile-custom: 0 1.15rem;
  --emotion-pictures-corporate-img-max-height: 50vh;

  /* Footer */
  --footer-default-h4-color: var(--m-black);
  --footer-default-h4-font-size: 1.125rem;
  --footer-default-ul-li-line-height: 2rem;
  --footer-default-h4-padding: 0 0 0.5rem 0;
  --footer-default-h4-margin: 0 0 1.5rem 0;
  --footer-default-invert-color-custom: var(--m-black);
  --footer-default-invert-background-color-custom: var(--m-white);
  --footer-default-invert-orange-background-color-custom: var(--m-orange-600);
  --footer-default-ul-list-style: none;
  --footer-default-a-font-size: 0.875rem;
  --footer-default-invert-a-color-hover-custom: var(--m-orange-600);
  --footer-default-invert-orange-color-custom: var(--m-white);

  /* Header */
  --header-default-a-logo-top-custom: calc(70px / 2 - 140px / 2);
  --header-default-logo-width-custom: max(140px, 8vw);
  --header-default-a-logo-top-mobile-custom: 0;
  --header-default-a-menu-icon-background-color-custom: var(--color);
  --header-default-background-color-custom: var(--m-white);
  --header-default-padding: 1rem 0;
  --header-default-margin-custom: 0;
  --header-default-content-width: var(--content-with-global);

  /* Navigation */
  --menu-background-color-custom: var(--m-white);
  --navigation-gastro-a-link-font-size-custom: 1.125em;
  --navigation-gastro-background-color-hover-custom: var(--m-white);
  --navigation-gastro-background-color-open-custom: var(--m-white);
  --navigation-gastro-color-custom: var(--color);
  --navigation-gastro-font-family-custom: var(--font-family-bold);
  --navigation-gastro-justify-content: flex-start;
  --navigation-gastro-letter-spacing: -0.0125rem;
  --navigation-gastro-not-open-color-active-custom: var(--m-orange-600);
  --navigation-gastro-not-open-color-hover-custom: var(--m-orange-600);
  --navigation-gastro-color-hover-custom: var(--m-orange-600);
  --navigation-gastro-section-background-color-custom: var(--m-white);
  --navigation-gastro-color-active-custom: var(--m-organge-600);
  --navigation-gastro-border-color-active-custom:var(--m-orange-600);

  /* Teaser - Plain */
  --teaser-plain-background-color-hover-custom: var(--color-tertiary);
  --teaser-plain-border-radius-custom: 0.25em;
  --teaser-plain-color-custom: var(--m-white);
  --teaser-plain-border-radius-mobile-custom: 0.275em;

  /* Teaser - Overlay */
  --teaser-overlay-bg-color-custom: var(--m-white);

  /* Teaser - Tile */
  --teaser-tile-h2-figcaption-color: var(--m-orange-600);
  --teaser-tile-p-font-size-custom: 1em;
  --teaser-tile-p-line-height-custom: 1.5em;

}